<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" verbose="true" >

  <Appenders>
    <File name="MyAppender" fileName="zuulSimple.log" append="true" >
      <PatternLayout>
        <Pattern>%d %level{DEBUG=DBUG, WARN=WARN, ERROR=ERRR, TRACE=TRCE, INFO=INFO} %c{1.} [%t] %m %ex%n </Pattern>
      </PatternLayout>
    </File>
    <File name="TDRAppender" fileName="TDR.log" append="true" >
      <PatternLayout>
        <Pattern> %m %ex%n </Pattern>
      </PatternLayout>
    </File>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%m%n"/>
    </Console>
  </Appenders>
  
  <Loggers>
    <Root level="DEBUG">
      <AppenderRef ref="MyAppender" level="DEBUG"/>
      <AppenderRef ref="STDOUT" level="INFO"/>
    </Root>
    <Logger name="com.netflix.zuul.*" level="DEBUG">
    	<AppenderRef ref="MyAppender"/>
    </Logger>
    <Logger name="filters.post.TDRPoster" level="INFO">
    	<AppenderRef ref="TDRAppender"/>
    </Logger>
  </Loggers>
</Configuration>