##
## This is the velocity gateway template file 
## for the production of gateway filters for Zuul.
## It's mostly testing right now.
##
## Author Luke Grey | productOps, Inc.
## 
## if we decide that each incoming request MUST have a key
## OR we have a section where the secured gates lie behind the key filters
## and the unsecured gates are jumped to if there is no key in the header
package filters.pre;
import com.netflix.zuul.ZuulFilter
import com.netflix.zuul.ZuulFilterResult
import com.netflix.zuul.context.RequestContext
import com.netflix.zuul.context.Debug
import java.util.Map.Entry

class ${name}SecGate extends ZuulFilter {

    @Override
    int filterOrder() {
        return $order
    }

    @Override
    String filterType() {
        return "pre"
    }

    @Override
    boolean shouldFilter() {
#if(!$disabled)
		RequestContext ctx = RequestContext.getCurrentContext();
		if(!ctx.getContinueFiltering())
			return false;
			
		if(!ctx.getRequestPermissions().isEmpty()){
	        if(ctx.request.getRequestURI()=="$endpoint"){
				return ctx.getRequestPermissions().contains("$endpoint");
			}
		}
#end
		return false;
    }

    @Override
    Object run() {
        RequestContext ctx = RequestContext.getCurrentContext();
		
        // sets origin
		ctx.setRouteHost(new URL("$host"));

        // sets custom uri to send to the server
        ctx.setRequestURI("$api");
    }

}



